
<!DOCTYPE html>
<html lang="en">

<%- include("../style.ejs") %>

<body>

  <% let c=0 %>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->

    <%- include("../head1.ejs") %>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     
      <!-- partial -->
     
      <%- include("../sidebar") %>
     
      <div class="main-panel">
        <div class="content-wrapper">
<form>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Inventory Details</h4>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Company
                </th>
               <th>
                  Quantity
               </th>
               <th>
                  Last Used
               </th>
              
               <th>
                 Increment
               </th>  
               <th>
                 Decrement
              </th>     
              </tr>
            </thead>
            <tbody>
              <%  info[0].Inventory.forEach(inventory=>{ %>
              <% c++;})%>
              
              <% let loopv=0 %>

              <% if(c>=end){ %>
                <% loopv=end; %>
              <%} else{ %>
                <%loopv=c; %>
              <%}%>
              
              <%  for(let i=start;i < loopv;i++){ %>
              <tr>
                <td class="py-1" >
                  <%= info[0].Inventory[i].item_name %>
                </td>  
                <td name="company"> 
                    <%= info[0].Inventory[i].company %>
                </td>
                <td>
                 <%= info[0].Inventory[i].quantity %>
                </td>
                <td>
                  <%= info[0].Inventory[i].last_issued %>
                </td>
               
                <td>
                 <a class="btn btn-info" href="/plus_inventory?id=<%=info[0].Inventory[i]._id%>&qty=<%= info[0].Inventory[i].quantity %>&page=<%= page %>">Increment Qty</a>
                 
                </td>
                <% if(info[0].Inventory[i].quantity>0) { %>
                <td>
                  <a class="btn btn-info" href="/minus_inventory?id=<%=info[0].Inventory[i]._id%>&qty=<%= info[0].Inventory[i].quantity %>&page=<%=page %>">Decrement Qty</a>
      
                 </td>
                 <% } else{%>
                  <td>
                    <a class="btn btn-info" href="" onclick="alert1()">Decrement Qty</a>
        
                   </td>
                <% } %>
               
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
        <div style="padding-top:5px;margin-left: 3px;">
          <% let k=1 %>
          <%  for(let i=1 ; i <= c; i=i+5) { %>
            <a class="btn btn-info" href="/iview_Inventory?page=<%= k %>"><%= k %></a>
            <% k++ %>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  </form>
  <%- include("../footer") %>
  </div>
  </div>
</div>
</div>
<script>
    function alert1()
     {
      
     alert("Insufficient Quantity");
    
     }
  </script>
</body>
</html>